# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# PYTHON FILES
[*.py]
insert_final_newline = true
end_of_line = crlf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# JSON FILES
[*.{json,jsonc}]
indent_style = space
indent_size = 4

# YAML FILES
[*.{yaml,yml}]
indent_style = space
indent_size = 2
